* {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* This section is for header top */
.header-top .container {
    background-color: #589167;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left-contacts {
    display: flex;
    gap: 20px;
    color: white;
}

.right-media-icons {
    display: flex;
    gap: 20px;
}

.header-top a {
    color: white;
}

.phone {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.email {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

/* This section is for Header down */
/* The below is a descendant class selector */
.header-down .container {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header-down .nav-icons {
    display: flex;
    gap: 30px;
}

.header-down a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header-down .logo {
    font-weight: bold;
    font-size: 25px;
}

.active a {
    color: #589167;
}

/* Hover state */
.nav-icons a:hover {
    color: #589167;
}

/* .media-icon {
    margin-right: 20px;
} */
































.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.black {
    border: 1px solid black;
}

.blue {
    border: 1px solid blue;
}