* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: #139DAA;
    color: white;
    padding: 15px 0px 15px 0px;
    position: static;
}

.dashboard-md {
    display: none;
}

.bottom-nav-md {
    display: none;
}

.bottom-nav-md .icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .logo {
    width: 350px;
    /* padding-left: 5px;
    padding-right: 5px; */
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.header .logo a {
    color: white;
    text-decoration: none;
}

.header .logo a .logo-short {
    display: none;
}

.header .logo a .logo-full {
    display: block;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
    width: 100%;
}

.header .container .dashboard button {
    display: flex;
    gap: 15px;
    align-items: center;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.header .container .right {
    display: flex;
    gap: 20px;
}

.header .container .right .search {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    width: 250px;
    gap: 10px;
    padding: 10px 0px 10px 20px;
    background-color: #4eb6c0;
    border-radius: 20px;
}

.header .container .right .search input {
    background-color: transparent;
    border: none;
    color: white;
}

/* Placeholder color */
.header .container .right .search input::placeholder {
    color: white;
    opacity: 1; /* Ensures full color visibility */
}

/* Remove border on focus */
.header .container .right .search input:focus, textarea:focus, select:focus {
    outline: none;
    border: none;
}

.header .container .right .profile select {
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid white;
    cursor: pointer;
}

main .container {
    display: flex;
}

main .container aside {
    width: 340px;
    height: 90vh;
    /* padding-left: 5px;
    padding-right: 5px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* font-weight: 600; */
    /* font-size: 25px; */
    box-shadow: rgb(240, 232, 232) 0px 0px 0px 0px;
}

main .container aside .nav-icons {
    width: 100%;
    /* color: black; */
}

main .container aside .nav-icons .dashboard a {
    display: flex;
    gap: 10px;
    padding: 10px 0px 10px 10px;
    color: black;
    text-decoration: none;
}

main .container aside .nav-icons .dashboard a .notification {
    display: flex;
    gap: 10px;
}

.active {
    background-color: #139DAA;
    color: white;
}

.active:hover {
    background-color: #0f8792;
}

main .container aside .nav-icons p {
    font-size: 20px;
}

main .container .body {
    background-color: #ecefef;
    height: 90vh;
    width: 100%;
}


@media (max-width: 1270px) {
    .header .logo {
        width: 50px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .header .logo a .logo-short {
        display: inline;
    }
    
    .header .logo a .logo-full {
        display: none;
    }

    main .container aside {
        width: 50px;
    }

    main .container .nav-icons .dashboard .details {
        display: none;
    }
}

@media (max-width: 846px) {

    .header {
        display: none;
    }

    .dashboard-md {
        background-color: #139DAA;
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: 600;
        color: white;
        padding: 20px 0px 20px 0px;
    }

    .bottom-nav-md {
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        border: 1px solid rgb(222, 222, 222);
        position: absolute;
        top: 94vh;
    }
}









/* 
.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.black {
    border: 1px solid black;
}

.blue {
    border: 1px solid blue;
}

.yellow {
    border: 1px solid yellow;
} */