* {
    margin: 0;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 50px;
    padding-right: 50px;
}

.container .left-img {
    width: 50%;
    height: 400px;
}

.container .right-text {
    width: 50%;
    height: 400px;
    padding-left: 30px;
    padding-right: 30px;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

}

.container .right-text h1 {
    padding-bottom: 5px;
}

.container .right-text i {
    padding-bottom: 30px;
}

.container .right-text #lorem-text {
    line-height: 25px;
    padding-bottom: 50px;
}

.container .left-img img {
    width: 100%;
    height: 100%;
}

.container .right-text .clock-time {
    display: flex;
    gap: 45px;
    padding-left: 10px;
}

.container .right-text .clock-time p {
    text-transform: uppercase;
}






.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.blue {
    border: 1px solid blue;
}

.orange {
    border: 1px solid orange;
}

.brown {
    border: 1px solid brown;
}