* {
    margin: 0;
    padding: 0;
}

.top-right {
    background-color: black;
    padding-right: 100px;
}

.top-right .register button {
    text-transform: uppercase;
    border: none;
    color: #6c777d;
    /* color: red; */
    padding: 10px 10px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    background-color: transparent;
    transition: color 0.3s ease, transform 0.3s ease;
}

.top-right button:hover {
    color: white;
}

.header-top {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    /* height: 310%; */
}

.right-tags {
    display: flex;
    width: 49%;
    height: 10vh;
    justify-content: space-around;
    align-items: top;
    font-size: 18px;
}

.right-tags hr {
    height: 50px;
}

.right-tags p {
    text-transform: uppercase;
    color:#8f9ba1  ;
    font-size: small;
}

/* .logo {
    padding: 50px 70px;
} */

.logo {
    /* padding: 50px 70px; */
    width: 400px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.login {
    padding: 9px 25px;
    border-radius: 7px;
    border: 2px #2c97ea solid;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.7s ease, transform 0.3s ease;
    /* transform: translateY(5px); */
}

.login .icon {
    color: #2c97ea;
}

.btn-content {
    display: flex;
    align-items: center;
    width: 110%;
}

.login:hover {
    background-color: #2c97ea;
    color: white;
    transform: translateY(0);
}

.login:hover .icon {
    background-color: #2c97ea;
    color: white;
    /* transform: translateY(-5px); */
}

.justify-content-end {
    justify-content: end;
}

.justify-content-space-around {
    justify-content: space-around;
}

.flex {
    display: flex;
}

.routes {
    display: flex;
    justify-content: space-around;
    background-color: #0961F9;
    color: white;
}

.nav-links {
    padding: 20px 0;
    gap: 10px;
}

.search {
    display: flex;
    align-items: center;
}

.routes a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    
}

@media only screen and (max-width: 1200px) {
    body {
        .xl-hidden {
            display: none;
        }

        .logo {
            /* padding: 50px 70px; */
            width: 400px;
        }
        
        .right-tags {
            display: block;
            height: 18vh;
        }
    }
  }

  @media only screen and (max-width: 992px) {
    body {
        .hidden {
            display: none;
        }

        .header-top {
            display: flex;
            justify-content: space-between;
            padding: 0px 0px;
        }
        
        .right-tags {
            display: block;
            height: fit-content;
            width: fit-content;
        }

        .logo {
            /* padding: 50px 70px; */
            width: 400px;
        }

        .lg-hidden {
            display: none;
        }

        .routes {
            display: flex;
            justify-content: end;
            background-color: #0961F9;
            color: white;
        }

        .lg-block {
            display: block;
        }

        .icon {
            display: flex;
            align-items: center;
        }
    }
  }

  @media only screen and (max-width: 576px) {
    body {
        .logo {
            /* padding: 50px 70px; */
            width: 200px;
        }
    }
  }

/* colors */

/* .green {
    border: 1px solid green;
}

.blue {
    border: 1px solid blue;
}

.red {
    border: 1px solid red;
} */